# Database
POSTGRES_DB=library
POSTGRES_USER=library_user
POSTGRES_PASSWORD=change_me_in_production

# JWT
JWT_SECRET=5468697349734150726f6a656374536563726574466f724c6962726172794170694a5754
JWT_EXPIRATION=3600000

# Default admin (created on first startup)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me_in_production